---
import {Content as AboutContent} from '../content/info/about.md'
import Base from '../layouts/base.astro'
---
<Base lang='en' dir='ltr'>

    <main slot="main">

        <section id="main-section" class="markdown-content">
            <AboutContent />
        </section>
    </main>
</Base>