---
import Base from "../layouts/base.astro"
---

<Base lang="en" dir="ltr">
	<title>Cosmic Dust - Blog Web Template</title>
	<meta name="description" content="Cosmic Dust is an Astrobuild Kickstarter web template to create and launch a multilingual blog quickly">
	<meta property="og:title" content="Cosmic Dust - Blog Web Template">
	<meta property="og:description" content="Astrobuild kickstarter multilingual blog web template">
	<meta property="og:image" content="https://andrewsaeed.dev/me.png">
	<meta property="og:url" content="https://cosmic-dust-web-template.netlify.app">
	<meta property="og:type" content="website">
	
	<main slot="main">
		<div>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Autem, officiis quos nihil, animi nostrum ullam quae architecto itaque ipsam neque unde repellat consectetur enim totam minima distinctio natus pariatur ea.</div>
	</main>
</Base>