---
import { getCollection } from 'astro:content'

interface Props {
    lang: string;
}

const {lang} = Astro.props
const posts = await getCollection('posts', post => {
    return post.slug.includes(lang)
})
---
<script>
    const searchInput = document.querySelector<HTMLInputElement>('#search-input')!
    const postsListItems = document.querySelectorAll<HTMLElement>('#posts-list li')!
    const layoutMask = document.querySelector<HTMLElement>('#layout-mask')!

    searchInput.addEventListener('keyup', e => {
        const searchInputValue = (e.target as HTMLInputElement).value.trim()
        if(searchInputValue.length > 0) {
            layoutMask.style.visibility = 'visible'
            layoutMask.style.opacity = '1'
            document.body.style.overflowY = 'hidden'
        }
        else {
            layoutMask.style.visibility = 'hidden'
            layoutMask.style.opacity = '0'
            document.body.style.overflowY = 'scroll'
        }

        postsListItems.forEach(item => {
            if(searchInputValue === "") {
                item.style.display = 'none'
                return
            }else if(item.innerText.toLowerCase().includes(searchInputValue.toLowerCase())) {
                item.style.display = 'block'
            } else {
                item.style.display = 'none'
            }
        })
    })
</script>
<section class="relative z-20">
    <input id="search-input" type="text" placeholder="Search ..." class="w-full bg-white-light text-base-2 p-2 border border-black-dark" />
    <ul id="posts-list" 
        class="absolute top-full left-0
        w-full max-h-60
        bg-white-light
        text-base capitalize
        border border-white-dark overflow-y-scroll
        divide-y-[1px]
        [&_li]:border-white-dark 
        [&_li_a]:block [&_li_a]:px-2 [&_li_a]:py-2 [&_li_a:hover]:bg-white-dark"
    >
        {
            posts.map(post => {
                return <li class="hidden">
                    <a href={`/${post.slug}/`}>{post.data.title}</a>
                </li>
            })
        }
    </ul>
</section>