---
import Sun from '../icons/sun.astro'
import Moon from '../icons/moon.astro'
---
<script>
    const slider = document.querySelector<HTMLElement>('#slider')!
    const cosmicDustTheme = localStorage.getItem('cosmic-dust-theme')
    slider.addEventListener('click', () => {
        if(cosmicDustTheme === 'light') {
            localStorage.setItem('cosmic-dust-theme', 'dark')
            slider.style.transform = 'translateY(-24px)'
            document.documentElement.classList.toggle('dark')
        } else {
            localStorage.setItem('cosmic-dust-theme', 'light')
            slider.style.transform = 'translateY(0)'
            document.documentElement.classList.toggle('dark')
        }
    })
</script>
<div id="theme-picker" class="h-[1.5rem] overflow-hidden">
    <div id="slider" class="transition cursor-pointer">
        <div id="light-mode" class="h-[1.5rem]">
            <Sun />
        </div>
        <div id="dark-mode" class="h-[1.5rem]">
            <Moon />
        </div>
    </div>
</div>