---
import Base from "../../layouts/base.astro"
---

<Base lang="ar" dir="rtl">
	<title>Cosmic Dust - قالب ويب بلوج</title>
	<meta name="description" content="وصف  Cosmic Dust هو  Astrobuild Kickstarter Web Template لإنشاء وإطلاق مدونة متعددة اللغات بسرعة">
	<meta property="og:title" content="Cosmic Dust - قالب ويب بلوج">
	<meta property="og:description" content="Astrobuild kickstarter متعددة اللغات بلوج ويب قالب">
	<meta property="og:image" content="https://andrewsaeed.dev/me.png">
	<meta property="og:url" content="https://cosmic-dust-web-template.netlify.app/ar">
	<meta property="og:type" content="website">
	
	<main slot="main">
        <div>Astrobuild kickstarter قالب ويب بلوج متعدد اللغات</div>
	</main>
</Base>