---
import Nav from '../partials/nav.astro'

interface Props {
    lang: string;
    dir: string;
}

const {lang, dir} = Astro.props
---
<style lang="scss" is:global>

    :root {
        scroll-behavior: smooth;

        --white-light: #FEFAE0;
        --white-dark: #eae6cf;
        --black-light: #475f2b;
        --black-dark: #283618;
        --black-dim: rgb(40, 54, 24, 0.8);
        --green: #49C055;
        --red: #ff5e32;
        --yellow: #FFC801;
        --blue-light: #0198ef;
        --blue-dark: #5748AE;
        --blue-dim: rgba(87, 72, 174, 0.8);
        --gray-light: #bcbcbf;
    }
    
    /* Fonts */
    .font-mulish {
        font-family: "Mulish", sans-serif;
        font-optical-sizing: auto;
        font-weight: 400;
        font-style: normal;
    }
    
    /* Scrollbar */
    ::-webkit-scrollbar {
        width: 0.5rem;
    }
    ::-webkit-scrollbar-thumb {
        background: var(--black-light);
        border-radius: 0rem;
    }
    ::-webkit-scrollbar-track {
        background-color: var(--white-light);
        border: 0.1rem solid #ccc;
    }
    ::-webkit-scrollbar-button {
        background-color: var(--black-dark);
        border-radius: 0rem;
    }
    ::-webkit-scrollbar-button:hover {
        background: var(--black-dark);
    }
    ::-webkit-scrollbar-thumb:hover {
        background: var(--black-dark);
    }
    @supports not selector(::-webkit-scrollbar) {
    
        * {
            scrollbar-width: auto;
            scrollbar-color: var(--white-light) var(--black-dark);
            scrollbar-gutter: stable both-edges;
        }
    }
</style>
<script>
    document.documentElement.lang = `${document.body.getAttribute('data-lang')}`
    document.documentElement.dir = `${document.body.getAttribute('data-dir')}`
</script>
<html>
    <meta charset="utf-8" />
    <link rel="icon" href="/favicon.svg" type="image/svg+xml">
    <meta name="viewport" content="width=device-width" />
    <link href="https://fonts.googleapis.com/css2?family=Mulish:ital,wght@0,200..1000;1,200..1000&display=swap" as="style">
    <slot />

    <body data-lang={lang} data-dir={dir} class="bg-white-light text-base text-black-dark font-mulish">
        <Nav></Nav>
        <slot name="main" />
    </body>
</html>