---
import Base from "./base.astro"

const {frontmatter} = Astro.props;
---
<Base lang="en" dir="ltr">

    <main slot="main">

        <section id="main-section" class="markdown-content">
            <h1>{frontmatter.title}</h1>
            <p><slot /></p>
        </section>
    </main>
</Base>